@document domain("example.com")
  // Import all components
  @import 'components/_base'
  
  // Add more imports here as you create them
  // @import 'components/_content'
  // @import 'components/_navigation'
